 <table id="world" bgcolor=#EEEEEE >

                    <tr><td><font size="2">รหัสบริษัทประกัน</font></td>
                      <td><font size="2"><input type="text" name="ir_id" id="offer_id" size="17" style="border:none;" ></font></td>
                    </tr>
                     <tr>
            <td><font size="2" >ชื่อบริษัทประกัน</font></td>
            <td><font size="2"><select name="rl" widht = "100%">
                          <option value="1">วิริยะประกันภัย</option>
                          <option value="2">Undermind ประกันภัย</option>  
                          <option value="3">Undermind ประกันภัย</option>
                          <option value="4">Undermind ประกันภัย</option>
                          <option value="5">Undermind ประกันภัย</option>
                          <option value="6">Undermind ประกันภัย</option>
                          </select></font></td>
          </tr>
          <tr>
            <td><font size = "2">เลขที่กรมธรรม์</font></td>
            <td><font size="2"><input type="text" name="ir_insurance" id="ir_insurance" size="17" style="border:none;" ></font></td>
          </tr>
          <tr>
            <td><font size="2">ประเภทประกัน</font></td>
            <td><font size="2"><select name="rl" widht = "100%">
                          <option value="1">กระบะวิริยะ</option>
                          <option value="2">Undermind ประกันภัย</option>
                          <option value="3">Undermind ประกันภัย</option>
                          <option value="4">Undermind ประกันภัย</option>
                          <option value="5">Undermind ประกันภัย</option>
                          <option value="6">Undermind ประกันภัย</option>
                          </select></font></td>
          </tr>

          <tr>
            <td>
              <font size="2">เลขที่ใบเคลม</font>
            </td>
            <td>
              <font size="2">
                <input type="text" name="ir_claim" id="ir_claim" size="17" style="border:none;" >
              </font>
            </td>

          </tr>
          <tr>
            <td>
              <font size="2">ส่วนลด</font>
            </td>
            <td><font size="2"><input type="text" name="ir_claim" id="ir_claim" size="7" style="border:none;" >%</font></td>
          </tr>
          <tr>
            <td><font size="2">รหัสบริษัทประกัน</font></td>
            <td><font size="2"><input type="text" name="ir_id" id="offer_id" size="17" style="border:none;" ></font></td>
          </tr>
         

                  </table>