@charser "utf-8";


.container{
	width: 1366px;
	height:  868px;
	border: 0px solid #ffffff;
	background: #ffffff;
	border-width: 250px;
	border-top: 500px;

	position :absolute;

}
header{
	width: 1366px;
	height: 100px;
	border: 0px solid #000000;
	position: absolute;

}



.div2{
	width: 100px;
	height: 100%;
	background: #ffffff;
	position: absolute : left;


}
div a{
	text-decoration: none;
	color:black;
	border: 0px solid black;
    font-size: 16px

}
div li {
    list-style-type: none;
    display: block;
    padding: 10px;
    padding-right: 10px;
    border-bottom: 0px solid white;
    background: #e4e28f
    

}
div  li:hover{
    background: #d92a2b;
    transition: linear all 0.40s;

}
h4{

}
.li2{
	list-style-type: none;
	display: block;
	padding: 10px;
	padding-left: 10px;
	border-bottom: 0px solid white;
	background: #d44451;
}
/* ------------------------------------------------------------CSS TAB -------------------------------------------------------*/
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* ------------------------------------------------------------END CSS TAB -------------------------------------------------------*/




/*----------------------------------------------------------- Font -------------------------------------------*/
.font2{
	size :2px;
}

/* ---------------------------------------------------------Modal ----------------------------------------------*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
    ;
    
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 200px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }




/* -----------------------------------------------------------------Scrollbar ----------------------------------------------------------------*/
#scroll {
  width:100px;
  height:100px;
  border:1px solid red;
  overflow:auto;
}


/* ----------------------------------------------------------------- Ajax Amsterdam(lol) ------------------------------------------------------------------ */

#wrapper{
  width: 960px;
  margin: 0px auto;
}
#content{
  width:700px;
  display:inline-block;
}

#sidebar{
	float: left;
	width: 200px;
	height: 500px;
	border: 0px solid ;
	background-color: #FFFFFF;
 	width: 200px;
  	display:inline-block; 	
}
table.one 
{
border-collapse: separate;
border-spacing: 20px
}
/*******************************Calendar Top Navigation*********************************/
div#calendar{
  margin:0px auto;	
  padding:0px;
  width: 602px;
  font-family:Helvetica, "Times New Roman", Times, serif;
}
 
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%
;    height:40px;
    background-color:   #787878 ;      
}
 
div#calendar div.header{
    line-height:40px;  
    vertical-align:middle;
    position:absolute;
    left:11px;
    top:0px;
    width:582px;
    height:40px;   
    text-align:center;
}
 
div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position:absolute;
    top:0px;   
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}
 
div#calendar div.header span.title{
    color:#FFF;
    font-size:18px;
}
 
 
div#calendar div.header a.prev{
    left:0px;
}
 
div#calendar div.header a.next{
    right:0px;
}
 
 
 
 
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border:1px solid #787878 ;
    border-top:none;
}
 
 
 
div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}
 
div#calendar ul.label li{
    margin:0px;
    padding:0px;
    margin-right:5px;  
    float:left;
    list-style-type:none;
    width:80px;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 15px;
    background-color: transparent;
}
 
 
div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    margin-top: 5px;
    line-height:80px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:80px;
    height:80px;
    font-size:25px;
    background-color: #DDD;
    color:#000;
    text-align:center; 
}
 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
}   
/****************************************************************************************************************************/

/**************************************************Line***********************************************************************/
.hline { width:100%; height:1px; background: #fff }  	

.vl {
    border-left: 6px solid green;
    height: 500px;

}

/**************************************************Line***********************************************************************/


/************************************************Scroll**********************************************************************/

#scroll_demo {
  width:290px;
  height: 150px;
  border:1px solid red;
  overflow:auto;
}
/****************************************************************************************************/

/**************************************Tab Repair***************************************************/

.tab2 {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 30px;
    width: 220px;
}

/* Style the buttons inside the tab */
.tab2 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.3s;
    font-size: 17px;
    height: 30px;

}

/* Change background color of buttons on hover */
.tab2 button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab2 button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent2 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/*--------------------------------Tab Link----------------------------------------------------*/
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 120px;
    height: 50px;
}
.tablink:hover {
    background-color: #777;

}
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/*--------------------------------Tab Link----------------------------------------------------*/